@model dashboard.DTOs.LoginDTO
@{
  ViewData["Title"] = "Login";
  Layout = "_Account";
}

<section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

        <div class="d-flex justify-content-center py-4">
          <a asp-controller="Account" asp-action="Login" class="logo d-flex align-items-center w-auto">
            <img src="~/img/logo.svg" alt="logo">
            <span class="d-none d-lg-block text-black">ResumeLab.</span>
          </a>
        </div>

        <div class="card mb-3 px-3">

          <div class="card-body">

            <div class="pt-4 pb-2">
              <h5 class="card-title text-center text-black pb-0 fs-4">Inicia sesión en tu cuenta</h5>
            </div>

            <form class="row g-3 needs-validation" novalidate asp-controller="Account" asp-action="Login"
              method="post">

              <div class="col-12">
                <!--label for="Email" class="form-label">Correo electrónico</label-->
                <div class="input-group has-validation">
                  <span class="input-group-text" id="inputGroupPrepend"><i class="ri-mail-line"></i></span>
                  <input type="email" class="form-control" id="Email" name="Email" required asp-for="Email" placeholder="Correo electrónico">
                  <div class="invalid-feedback">Por favor ingresa tu correo.</div>
                </div>
              </div>

              <div class="col-12">
                <!--label for="Password" class="form-label">Password</label-->
                <input type="password" class="form-control" id="Password" name="Password" asp-for="Password" placeholder="Contraseña" required>
                <div class="invalid-feedback">Por favor ingresa tu contraseña.</div>
              </div>
              @if (ViewData["Message"] != null)
              {
                <div class="col-12">
                  <p class="text-danger">@ViewData["Message"]<p/>
                </div>
              }
              <div class="col-12">
                <button class="btn btn-outline-primary w-100" type="submit">Ingresar</button>
              </div>
              <div class="col-12">
                <a class="btn btn-primary w-100 d-flex align-items-center position-relative" href="@Url.Action("LoginWithGoogle", "Account")">
                  <i class="bx bxl-google position-absolute start-0 ms-2"></i>
                  <span class="mx-auto">Ingresar con Google</span>
                </a>
              </div>
              <div class="col-12">
                <p class="small mb-0">¿Aún no tienes cuenta? <a asp-controller="Account"
                    asp-action="Register">Crear</a></p>
              </div>
              <div class="col-12">
                <p class="small mb-0"><a asp-controller="Account"
                    asp-action="Register">¿Has olvidado tu contraseña?</a></p>
              </div>
            </form>

          </div>
        </div>

      </div>
    </div>
  </div>

</section>